body {
    background: url("assets/images/space-bg.jpg");
    color: #f1f1f1;
    font-family:"Roboto-Light", Helvetica, Arial;
    font-size: 18px;
    padding: 0 30px;
}

h1 {
    font-size: 2em;
    float: left;
    text-transform: uppercase;
    font-weight: normal;
}
header {
    display: inline-block;
}

#gameContainer {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #16272b;
}